* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://www.pexels.com/photo/1103970/download/);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-shadow: 2px 2px 4px #000;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-shadow: 2px 2px 4px #000;
}

ul {
  list-style-type: none;
  font-size: 20px; 
}

li {
  margin-bottom: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #60A5FA;
}
